:root {
  --color-title: #212121;
  --color-accent: #2196F3;
  --color-text: #757575;
  --color-light: #FFFFFF;
  --color-back-hero: #C4C4C4;
  --color-back-secondary: #2F303A;
  --color-back-btn: #F5F4FA;
  --color-logo: #000000;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-active-btn: #188CE8;
  --color-border: #ECECEC;
  --color-shadow-card: rgba(0, 0, 0, 0.15);
  --color-border-card: #EEEEEE;
  --color-social-icon: #AFB1B8;
  --color-back-social-icon: rgba(255, 255, 255, 0.1);
  --color-overlay: rgba(33, 150, 243, 0.9);
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-back-modal: rgba(0, 0, 0, 0.2);
  --color-border-modal: rgba(33, 33, 33, 0.2);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --color-border-form-footer: rgba(255, 255, 255, 0.3);
}

.footer-social-link, .box-our-work-subtitle, .our-adv-cont-icon, .label-agree {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--color-light);
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main .sections:nth-child(3) {
  padding-top: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.btn-submit-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  text-align: center;
  background: var(--color-accent);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--color-shadow-card);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-light);
  transition: fill var(--trans-dur-and-func);
}
.btn-submit-modal:hover, .btn-submit-modal:focus {
  background-color: var(--color-active-btn);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--trans-dur-and-func), visibility var(--trans-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__icon-close {
    width: 40px;
    height: 40px;
    fill: var(--color-title);
    transition: fill var(--trans-dur-and-func);
  }
  .mobile-menu__btn-close:hover .mobile-menu__icon-close, .mobile-menu__btn-close:focus .mobile-menu__icon-close {
    fill: var(--color-accent);
  }
  .mobile-navigation__list .mobile-navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-title);
    transition: color var(--trans-dur-and-func);
  }
  .mobile-navigation__link:hover, .mobile-navigation__link:focus {
    color: var(--color-accent);
  }
  .mobile-contacts-list {
    margin-bottom: 64px;
  }
  .mobile-contacts-list .mobile-contacts__item {
    margin-bottom: 32px;
  }
  .mobile-contacts__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-accent);
  }
  .mobile-contacts__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }
  .mobile-social-list {
    display: flex;
    justify-content: flex-start;
  }
  .mobile-social-list .mobile-social-list__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--color-border-modal);
  }
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--color-accent);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.sections-title {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  color: var(--color-title);
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--color-accent);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__accent {
  color: var(--color-logo);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.accent-foot-logo {
  color: var(--color-light);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--color-back-modal);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--trans-dur-and-func), visibility var(--trans-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.btn-close-modal:hover, .btn-close-modal:focus {
  fill: var(--color-accent);
  cursor: pointer;
}

.title-form {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.15;
  color: var(--color-title);
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label:not(:last-child) {
  margin-bottom: 10px;
}
.label:nth-child(5) {
  margin-bottom: 20px;
}

.text-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.form-input-icon {
  display: block;
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  padding-right: 16px;
  border: 1px solid var(--color-border-modal);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--trans-dur-and-func);
}
.input-form:focus {
  border-color: var(--color-accent);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--trans-dur-and-func);
}
.input-form:focus + .form-icon {
  fill: var(--color-accent);
}

.input-coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--color-border-modal);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--trans-dur-and-func);
}
.input-coment:focus {
  border-color: var(--color-accent);
  outline: none;
}
.input-coment:focus::placeholder {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}

.label-agree {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-text);
}

.check-agree {
  position: absolute;
  appearance: none;
}

.form-check-icon {
  border: 2px solid var(--color-title);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
}
.check-agree:checked + .form-check-icon {
  border: none;
}
.check-agree:focus + .form-check-icon {
  box-shadow: 0 0 0 2px var(--color-accent);
}

.form-chek-use {
  display: none;
}
.check-agree:checked + .form-check-icon > .form-chek-use {
  display: block;
}

.agree-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-accent);
}

.text-agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--color-text);
}

@media screen and (max-width: 767px) {
  .header-navigation__list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .mobile-menu-btn {
    border: none;
    padding: 0;
    background-color: var(--color-light);
    line-height: 0;
  }
  .mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: var(----color-logo);
  }
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  border-bottom: 1px solid var(--color-border);
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-navigation .current {
    color: var(--color-accent);
  }
  .header-navigation__list {
    display: flex;
    margin-left: 87px;
  }
  .header-navigation__list .item:not(:last-child) {
    margin-right: 50px;
  }
  .header-navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
  }
  .header-navigation__list .header-navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .current {
    position: relative;
    display: block;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
  }
  .link {
    transition: color var(--trans-dur-and-func);
  }
  .link:hover, .link:focus {
    color: var(--color-accent);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
  }
  .contacts-list .header-navigation__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .tel-mail {
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
  .header-navigation__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-navigation__list {
    margin-left: 92px;
  }
  .contacts-list {
    flex-direction: row;
  }
  .contacts-list .header-navigation__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts-list .header-navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--color-back-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
  background-size: cover;
  max-width: 1600px;
}

.hero__title {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
}

.hero__button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--color-shadow-card);
  transition: background-color var(--trans-dur-and-func);
}
.hero__button:hover, .hero__button:focus {
  background: var(--color-active-btn);
  border: none;
}

.list-our-adv {
  display: flex;
}
.list-our-adv .item {
  width: 270px;
}
.list-our-adv .item:not(:last-child) {
  margin-right: 30px;
}

.our-adv-cont-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-back-btn);
}

.benefits-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-title);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-text);
}

.list-our-work {
  display: flex;
  justify-content: space-between;
}
.list-our-work > .item {
  position: relative;
}

.box-our-work-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.our-work-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-light);
  text-transform: uppercase;
}

.sections-our-pro {
  background-color: var(--color-back-btn);
}

.list-our-pro {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-our-pro > .item {
  width: 270px;
  background-color: var(--color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-pro-subtitle {
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-title);
}

.our-pro-text {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}

.social-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-light);
  transition: background-color var(--trans-dur-and-func);
}
.social-link:hover, .social-link:focus {
  background-color: var(--color-accent);
}

.social-icon {
  fill: var(--color-social-icon);
  transition: fill var(--trans-dur-and-func);
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: var(--color-light);
}

.list-our-clients {
  display: flex;
  justify-content: space-between;
}

.link-our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-social-icon);
  border-radius: 4px;
  transition: border-color var(--trans-dur-and-func);
}
.link-our-clients:hover, .link-our-clients:focus {
  border-color: var(--color-accent);
}

.icon-our-clients {
  fill: var(--color-social-icon);
  transition: fill var(--trans-dur-and-func);
}
.link-our-clients:hover .icon-our-clients, .link-our-clients:focus .icon-our-clients {
  fill: var(--color-accent);
}

.footer {
  background-color: var(--color-back-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}

.container-contacts-footer {
  margin-right: 70px;
}

.footer-contacts {
  font-style: normal;
}

.footer-list-cont > .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-addr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-light);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-footer-link);
}

.container-social-list-footer {
  margin-right: 93px;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--color-light);
}

.list-footer-icon {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-back-social-icon);
  transition: background-color var(--trans-dur-and-func);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--color-accent);
}

.footer-icon {
  fill: var(--color-light);
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-title-form {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer-form-email {
  display: flex;
}

.footer-input-form {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid var(--color-border-form-footer);
  box-shadow: 0px 4px 4px var(--color-shadow-card);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-light);
  background-color: transparent;
}
.footer-input-form::placeholder {
  font-weight: 400;
  line-height: 20px;
  font-size: 1.25;
  color: var(--color-footer-link);
}

.footer-btn-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background: var(--color-accent);
  box-shadow: 0px 4px 4px var(--color-shadow-card);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 30px;
  font-size: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-light);
  transition: background-color var(--trans-dur-and-func);
}
.footer-btn-submit:hover, .footer-btn-submit:focus {
  background-color: var(--color-active-btn);
}

.footer-form-icon {
  fill: var(--color-light);
}

.list-portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--color-title);
  background-color: var(--color-back-btn);
  transition: color var(--trans-dur-and-func), background-color var(--trans-dur-and-func), box-shadow var(--trans-dur-and-func);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--color-light);
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-portf-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-portf-examples .item {
  width: 370px;
}

.portf-link {
  display: block;
  transition: box-shadow var(--trans-dur-and-func);
}
.portf-link:hover, .portf-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-text {
  padding: 20px 24px;
  border: 1px solid var(--color-border-card);
  border-top: none;
}

.portf-sutitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-text);
}

.box-overlay-portf {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--trans-dur-and-func);
  background-color: var(--color-overlay);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-light);
  line-height: 1.56;
}
.portf-link:hover .text-overlay, .portf-link:focus .text-overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */