
@media screen and (max-width: 767px) {
    
.list-our-adv {
        display: flex;
        flex-direction: column;
        background-color: crimson;
    
        & .item {
            width: 450px;
        }
    
        & .item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    .our-adv-cont-icon {
        width: 450px;
        height: 120px;
        @extend %align;
        margin-bottom: 30px;
    
        background-color: var(--color-back-btn);
    }
    
    .benefits-subtitle {
        margin-bottom: 10px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: var(--color-title);
    }
    
    .benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--color-text);
    }
}

// @media screen and (min-width: 768px) {
//     .list-our-adv {
//             display: flex;
        
//             & .item {
//                 width: 270px;
//             }
        
//             & .item:not(:last-child) {
//                 margin-right: 30px;
//             }
//         }
        
        
//         .our-adv-cont-icon {
//             width: 270px;
//             height: 120px;
//             @extend %align;
//             margin-bottom: 30px;
        
//             background-color: var(--color-back-btn);
//         }
        
//         .benefits-subtitle {
//             margin-bottom: 10px;
        
//             font-weight: 700;
//             font-size: 14px;
//             line-height: 1.14;
//             text-transform: uppercase;
        
//             color: var(--color-title);
//         }
        
//         .benefits-text {
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 1.71;
//             color: var(--color-text);
//         }  
// }


// .list-our-adv {
//     display: flex;

//     & .item {
//         width: 270px;
//     }

//     & .item:not(:last-child) {
//         margin-right: 30px;
//     }
// }


// .our-adv-cont-icon {
//     width: 270px;
//     height: 120px;
//     @extend %align;
//     margin-bottom: 30px;

//     background-color: var(--color-back-btn);
// }

// .benefits-subtitle {
//     margin-bottom: 10px;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;

//     color: var(--color-title);
// }

// .benefits-text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: var(--color-text);
// }
