 
.list-our-adv {
        display: flex;
        flex-direction: column;
    
        & .item {
            max-width: 450px;
        }
    
        & .item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    .our-adv-cont-icon {
        max-width: 450px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    
        background-color: var(--color-back-btn);
    }
    
    .benefits-subtitle {
        margin-bottom: 10px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    
        color: var(--color-title);
    }
    
    .benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--color-text);
    }

@media screen and (min-width: 768px) {
    .list-our-adv {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        
            & .item {
                width: 354px;
            }
        }
        
        .our-adv-cont-icon {
            width: 354px;
        }

        .benefits-subtitle {
            text-align: start;
        }
}

@media screen and (min-width: 1200px) {
    
    .list-our-adv {

        & .item {
            width: 270px;  
        }

        & .item:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .our-adv-cont-icon {
        width: 270px;
    }
}
