.list-our-clients {
    display: flex;
    justify-content: space-between;
}


.link-our-clients {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid var(--color-social-icon);
    border-radius: 4px;

    transition: border-color var(--trans-dur-and-func);

    
    &:hover,
    &:focus {
        border-color: var(--color-accent);
    }
}



.icon-our-clients {
    fill: var(--color-social-icon);
    transition: fill var(--trans-dur-and-func);

    .link-our-clients:hover &,
    .link-our-clients:focus & {
        fill: var(--color-accent);
    }
}
