
.footer {
        background-color: var(--color-back-secondary);
        padding-top: 60px;
        padding-bottom: 60px;
    
        & > .container {
            display: flex;
            align-items: baseline;
        
        }
    }
    
    .container-contacts-footer {
        margin-right: 70px;
    }
    
    .footer-contacts {
        font-style: normal;
    }
    
    .footer-list-cont > .item:not(:last-child) {
        margin-bottom: 9px;
    }
    
    .footer-link-addr {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--color-light);
    }
    
    .footer-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    
        color: var(--color-footer-link);
    }
    
    .container-social-list-footer {
        margin-right: 93px;
    }
    
    .footer-subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1,14;
        margin-bottom: 20px;
        text-transform: uppercase;
    
        color: var(--color-light);
    }
    
    .list-footer-icon {
        display: flex;
        gap: 10px;
    }
    
    .footer-social-link {
        @extend %align;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    
        background-color: var(--color-back-social-icon);
        transition: background-color var(--trans-dur-and-func);
    
            &:hover,
            &:focus {
                background-color: var(--color-accent);
    }
    }
    
    
    
    .footer-icon {
        fill: var(--color-light);
    }
    
    .footer-form {
        display: flex;
        flex-direction: column;
    }
    
    .footer-title-form {
        margin-bottom: 20px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: var(--color-light);
    }
    
    .footer-form-email {
        display: flex;
    }
    
    .footer-input-form {
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding: 15px 16px;
    
        border: 1px solid var(--color-border-form-footer);
        box-shadow: (0px 4px 4px var(--color-shadow-card));
        border-radius: 4px;
        cursor: pointer;
    
        color: var(--color-light);
        background-color: transparent;
    
        &::placeholder {
            font-weight: 400;
            line-height: 20px;
            font-size: 1.25;
        
            color: var(--color-footer-link);
        }
    }
    
    .footer-btn-submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 28px;
        width: 200px;
        height: 50px;
        background: var(--color-accent);
        box-shadow: 0px 4px 4px var(--color-shadow-card);
        border: none;
        border-radius: 4px;
    
        font-weight: 700;
        line-height: 30px;
        font-size: 1.88;
        letter-spacing: 0.06em;
    
        color: var(--color-light);
    
        transition: background-color var(--trans-dur-and-func);
    
        &:hover,
        &:focus {
            background-color: var(--color-active-btn);
    }
    }
    
    .footer-form-icon {
        fill: var(--color-light);
    }



// .footer {
//     background-color: var(--color-back-secondary);
//     padding-top: 60px;
//     padding-bottom: 60px;

//     & > .container {
//         display: flex;
//         align-items: baseline;
    
//     }
// }

// .container-contacts-footer {
//     margin-right: 70px;
// }

// .footer-contacts {
//     font-style: normal;
// }

// .footer-list-cont > .item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .footer-link-addr {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: var(--color-light);
// }

// .footer-link {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;

//     color: var(--color-footer-link);
// }

// .container-social-list-footer {
//     margin-right: 93px;
// }

// .footer-subtitle {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1,14;
//     margin-bottom: 20px;
//     text-transform: uppercase;

//     color: var(--color-light);
// }

// .list-footer-icon {
//     display: flex;
//     gap: 10px;
// }

// .footer-social-link {
//     @extend %align;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;

//     background-color: var(--color-back-social-icon);
//     transition: background-color var(--trans-dur-and-func);

//         &:hover,
//         &:focus {
//             background-color: var(--color-accent);
// }
// }



// .footer-icon {
//     fill: var(--color-light);
// }

// .footer-form {
//     display: flex;
//     flex-direction: column;
// }

// .footer-title-form {
//     margin-bottom: 20px;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;

//     color: var(--color-light);
// }

// .footer-form-email {
//     display: flex;
// }

// .footer-input-form {
//     width: 358px;
//     height: 50px;
//     margin-right: 12px;
//     padding: 15px 16px;

//     border: 1px solid var(--color-border-form-footer);
//     box-shadow: (0px 4px 4px var(--color-shadow-card));
//     border-radius: 4px;
//     cursor: pointer;

//     color: var(--color-light);
//     background-color: transparent;

//     &::placeholder {
//         font-weight: 400;
//         line-height: 20px;
//         font-size: 1.25;
    
//         color: var(--color-footer-link);
//     }
// }

// .footer-btn-submit {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px 28px;
//     width: 200px;
//     height: 50px;
//     background: var(--color-accent);
//     box-shadow: 0px 4px 4px var(--color-shadow-card);
//     border: none;
//     border-radius: 4px;

//     font-weight: 700;
//     line-height: 30px;
//     font-size: 1.88;
//     letter-spacing: 0.06em;

//     color: var(--color-light);

//     transition: background-color var(--trans-dur-and-func);

//     &:hover,
//     &:focus {
//         background-color: var(--color-active-btn);
// }
// }

// .footer-form-icon {
//     fill: var(--color-light);
// }