
.header-navigation__list {
    display: none;
}

.contacts-list {
    display: none;
}

.mobile-menu-btn {
    border: none;
    padding: 0;
    background-color: var(--color-light);
    line-height: 0;
}

.mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: var(----color-logo)
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

// .header {
//     border-bottom: 1px solid var(--color-border);
// }
// .container-header {
//     display: flex;
//     align-items: center;
// }

// .header-navigation {
//     display: flex;
//     align-items: center;

//     & .current {
//         color: var(--color-accent);
//     }
// }

// .header-navigation__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--color-title);
// }


// .current {
//     position: relative;
//     display: block;

//     &::after {
//         content: '';
    
//         position: absolute;
//         left: 0;
//         bottom: -1px;
    
//         display: block;
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//         background-color: var(--color-accent);
//     }
// }

// .header-navigation__list {
//     display: flex;
//     margin-left: 93px;

//     & .item:not(:last-child) {
//         margin-right: 50px;
//     }
// }


// .link {
//     transition: color var(--trans-dur-and-func);

//     &:hover,
//     &:focus {
//         color: var(--color-accent);
//     }
// }

// .contacts-list {
//     display: flex;
//     margin-left: auto;

//     & .item + .item {
//         margin-left: 50px;
//     }
// }

// .tel-mail {
//     display: flex;
//     align-items: center;
//     color: var(--color-text);
// }

// .header-navigation__icon {
//     margin-right: 10px;

//     fill: currentColor;
// }
