

.list-portfolio-filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 40px;

    & .item:not(:last-child) {
        margin-right: 8px;
    }

    & .item:nth-child(-n+3) {
        margin-bottom: 15px;
    }
}


.portfolio-btn {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    color: var(--color-title);
    background-color: var(--color-back-btn);

    transition: color var(--trans-dur-and-func),
    background-color var(--trans-dur-and-func),
    box-shadow var(--trans-dur-and-func);

    &:hover,
    &:focus {
        color: var(--color-light);
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


@media screen and (min-width: 480px) {
    .list-portfolio-filter {

        & .item:nth-child(3n+3) {
            margin-right: 55px;
        }
    }
}

@media screen and (min-width: 768px) {

    .list-portfolio-filter {
        justify-content: center;
        flex-wrap: nowrap;

        margin-bottom: 30px;
    
        & .item:nth-child(3n+3) {
            margin-right: 8px;
        }
    }
}

@media screen and (min-width: 1200px) {

    .list-portfolio-filter {
        margin-bottom: 30px;
    
        & .item:not(:last-child) {
            margin-bottom: 0;
        }
    }
}





// .list-portfolio-filter {
//     display: flex;
//     justify-content: center;

//     margin-bottom: 50px;

//     & .item:not(:last-child) {
//         margin-right: 8px;
//     }
// }


// .portfolio-btn {
//     padding: 6px 22px;
//     border-radius: 4px;
//     border-color: transparent;

//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.63;

//     color: var(--color-title);
//     background-color: var(--color-back-btn);

//     transition: color var(--trans-dur-and-func),
//     background-color var(--trans-dur-and-func),
//     box-shadow var(--trans-dur-and-func);

//     &:hover,
//     &:focus {
//         color: var(--color-light);
//         background-color: #2196F3;
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
//          0px 1px 2px rgba(0, 0, 0, 0.08),
//          0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }

