
.sections-our-pro {
    background-color: var(--color-back-btn);
}

    .list-our-pro > .item {
        max-width: 450px;
        
        background-color: var(--color-light);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .list-our-pro > .item:not(:last-child) {
        margin-bottom: 30px;
    }

.our-pro-image {
    max-width: 100%;
    height: auto;
}

.our-pro-subtitle {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--color-title);
}

.our-pro-text {
    margin-bottom: 16px;

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: var(--color-text);
}

.social-list {
    display:flex;
    column-gap: 10px;
    justify-content: center;
    padding-bottom: 24px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--color-light);
    transition: background-color var(--trans-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--color-accent);
    }
}

.social-icon {
    fill: var(--color-social-icon);
    transition: fill var(--trans-dur-and-func);

    .social-link:hover &,
    .social-link:focus & {
        fill: var(--color-light);
    }
}

@media screen and (min-width: 768px) {

.list-our-pro {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 0;

    & > .item {
        width: 354px;
    }
}

.our-pro-image {
    width: 354px;
    height: 374px;
    }
}

@media screen and (min-width: 1200px) {

    .list-our-pro > .item {
            width: 270px;
    }
        
    .our-pro-image {
        width: 270px;
        height: 260px;
        }
}

// .sections-our-pro {
//     background-color: var(--color-back-btn);
// }

// .list-our-pro {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;

//     & > .item {
//         width: 270px;
        
//         background-color: var(--color-light);
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//          0px 1px 1px rgba(0, 0, 0, 0.14),
//          0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: 0px 0px 4px 4px;
//     }
// }

// .our-pro-image {
//     width: 270px;
// }

// .our-pro-subtitle {
//     padding-top: 30px;
//     margin-bottom: 10px;
//     text-align: center;

//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;

//     color: var(--color-title);
// }

// .our-pro-text {
//     margin-bottom: 16px;

//     text-align: center;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;

//     color: var(--color-text);
// }

// .social-list {
//     display:flex;
//     column-gap: 10px;
//     justify-content: center;
//     padding-bottom: 30px;
// }

// .social-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 44px;
//     height: 44px;
//     border-radius: 50%;

//     background-color: var(--color-light);
//     transition: background-color var(--trans-dur-and-func);

//     &:hover,
//     &:focus {
//         background-color: var(--color-accent);
//     }
// }

// .social-icon {
//     fill: var(--color-social-icon);
//     transition: fill var(--trans-dur-and-func);

//     .social-link:hover &,
//     .social-link:focus & {
//         fill: var(--color-light);
//     }
// }

