
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    
        width: 100%;
        height: 100%;
    
        background-color: var(--color-light);
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--trans-dur-and-func),visibility var(--trans-dur-and-func);
    }
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .mobile-menu__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    
        padding: 48px 40px;
    }
    
    .mobile-menu__btn-close {
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
    
    .mobile-menu__icon-close {
        width: 40px;
        height: 40px;
    
        fill: var(--color-title);
        transition: fill var(--trans-dur-and-func);
    
        .mobile-menu__btn-close:hover &,
        .mobile-menu__btn-close:focus & {
            fill: var(--color-accent);
        }
    }
    
    .mobile-navigation__list {
    
        & .mobile-navigation__item:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    
    .mobile-navigation__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    
        color: var(--color-title);
        transition: color var(--trans-dur-and-func);
    
        &:hover,
        &:focus {
            color: var(--color-accent);
        }
    }

    .current-mobile {
        color: var(--color-accent);
    }
    
    .mobile-contacts-list {
        margin-bottom: 64px;
    
        & .mobile-contacts__item {
            margin-bottom: 32px;
        }
    }
    
    .mobile-contacts__tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    
        color: var(--color-accent);
    }
    
    .mobile-contacts__email {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color: var(--color-text);
    }
    
    .mobile-social-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    
        & .mobile-social-list__item:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;
    
            border-right: 1px solid var(--color-border-modal);
        }
    }
    
    .mobile-social-list__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
        color: var(--color-accent);
    }    
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}